<table class="conf-table">
  <thead><tr><th scope="col">Conference</th><th scope="col">Year</th><th scope="col">Location</th><th scope="col" class="num">Papers</th></tr></thead>
  <tbody>
  {% for conference in conferences %}
    <tr>
      <td><a href="{{ conference.get_absolute_url }}">IGLC {{ conference.number }}</a></td>
      <td>{{ conference.year|default:"" }}</td>
      <td>{{ conference.location }}</td>
      <td class="num">{{ conference.paper_count }}</td>
    </tr>
  {% empty %}
    <tr><td colspan="4">No proceedings published yet.</td></tr>
  {% endfor %}
  </tbody>
</table>
